* {
  /* outline: 1px dotted purple;
  padding: 5px; */
}

:root {
  --background: #061130;
  --blueLight: #1c4bc4;
  --testBackground: rgb(75, 75, 160);
  --colorLight: #f4f6f8;
  --gray: #dadada;
  --yellow: #fafd61;
}



header {
  justify-content: space-between;
}

.logo {
  padding: 1em;
}

a {
  color: var(--colorLight);
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

body {
  outline: 1px dotted purple;
  background-color: var(--background);
  margin: 0;
}

main {
  padding: 4em;
}

footer {
  background-color: var(--colorLight);
}

h1 {
  color: var(--colorLight);
}

.main-text-card {
  width: 50%;
  padding: 2em;
}

.footer-buttons {
  justify-content: space-between;
}

.main-text {
  color: var(--colorLight);
  font-size: 10pt;
}

.main-title {
  color: var(--yellow);
}

.main-spacing {
  padding: 5em;
  padding-right: 30em;
}

.upper-footer {
  padding: 8em;
  padding-top: 4em;
  padding-bottom: 4em;
  justify-content: space-between;
  font-size: 10pt;
  text-decoration: underline;
  color: var(--blueLight);
}

.chat-button {
  background-color: var(--blueLight);
  padding: 0.5em;
  border-radius: 10%;
}

.lower-footer {
  background-color: var(--gray);
  padding: 3em;
  justify-content: center;
}

.header-buttons {
  font-size: 12pt;
  padding: 1em;
}

/* targetting child property of header-buttons */
.header-buttons a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: right;
}

.justify-content-left {
  justify-content: left;
}

.center-text {
  text-align: center;
}

.text-big-bold {
  font-size: 26pt;
  padding: 0.5em;
  font: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small-text {
  font-size: 12pt;
}